@use "../mixins" as *;

.card__container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    gap: 3rem;
    
}

.win__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-image: linear-gradient(#165572, black);
    
}

.success {
    color: #165572;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #D4DCE0;
    padding: 0.5rem;
    outline: none;
    border: 0;
    border-radius: 4px;
    margin-bottom: 2rem;
    position: absolute;
    margin-top: 35rem;
    font-weight: 700;

    @include tablet {
        margin-top: 35rem;
    }
}

.win__score {
    color: #165572;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #D4DCE0;
    padding: 0.5rem;
    outline: none;
    border: 0;
    border-radius: 4px;
    margin-bottom: 2rem;
    z-index: 10;
    font-weight: 700;;
}