@use "../../mixins" as *;

.card__holder {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    border: 4px solid #165572;
    height: 70vh;
    &:hover {
        transition: 0.5s;
        box-shadow: 8px 8px #165572;
    }

    @include tablet {
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
        width: 30%;
        height: 70%;
        gap: 1rem;
        background-color: white;
        padding: 1rem;
        border-radius: 10px;
        border: 4px solid #D4DCE0;
        &:hover {
            transition: 0.5s;
            box-shadow: 8px 8px #D4DCE0;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px #D4DCE0;
    background-position: center;
    background-size: cover;
    height: 60%;


    @include tablet {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 3px 3px #D4DCE0;
        background-size: auto;
    }
    

    &__rating {
        background-image: linear-gradient(#165572, black);
        border-radius: 4px;
        padding: 0.5rem;
        color: #D4DCE0;
      
    }

    &__title {
        background-image: linear-gradient(#165572, black);
        border-radius: 4px;
        font-size: 1.5rem;
        padding: 0.5rem;
        text-align: center;
        color: #D4DCE0;
        
    }
    
}
